<launch>
    <arg name="bag_DIR" default="/ext/Data/Round_2/release/car/training" />
    <arg name="tracklets_DIR" default="/ext2/round2_data/output" />
    <arg name="bag" default="suburu_pulling_up_to_it/suburu02" />
    <arg name="rate" default="1" />
    <param name="use_sim_time" value="true" />
    <node name="rosbag" pkg="rosbag" type="play" args="-r $(arg rate) -l --clock $(arg bag_DIR)/$(arg bag).bag"/>
	<node name="velodyne" pkg="velodyne_pointcloud" type="cloud_node" args="">
        <param name="calibration" value="$(find velodyne_pointcloud)/params/32db.yaml" />
    </node>
	<node name="projection" pkg="projection" type="interact_tracklet.py" args="$(arg bag_DIR)/$(arg bag).bag $(arg tracklets_DIR)/$(arg bag)/tracklet_labels.xml $(find projection)/scripts/ost_new.yaml"/>
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find projection)/launch/config.rviz"  />
</launch>